/* Стили для основного контейнера формы */
.form-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: rgb(9, 46, 70);
    padding: 20px;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы внутри контейнера */
.form-container form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-container h1 {
    margin-bottom: 2%;
}

/* Стили для форм-роу внутри формы */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
  
/* Стили для textarea внутри форм-роу */
.textarea-widget {
    display: inline-block;
    width: 80%;
    height: fit-content;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    margin-left: auto;
    background: transparent;
    color: #d6d8ef;
    max-height: none;
}

.input-widget {
    display: inline-block;
    width: 80%;
    height: fit-content;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    background: transparent;
    color: #d6d8ef;
}

.label-widget[readonly] {
    display: inline-block;
    padding: 8px;
    margin-right: 20px;
    border: 0;
    background-color: transparent;
    color: #d6d8ef;
    font-size: 16px;
    cursor: not-allowed;
    /* Дополнительные стили для текста внутри readonly input */
    width: 35%;
    min-width: 200px;
    vertical-align: bottom;
    line-height: 2;
}
  
/* Стили для кнопки "Save" */
.button {
    /* background-color: #24a2ec; */
    background-color: rgba(36, 162, 236, 0.4);
    width: 35%;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    align-self: center;
    text-decoration: none;
    text-align: center;
    min-width: 120px;
}
  
.button:hover {
    background-color: #817bf7;
    /* transform: scale(1.1);
    transition: 0.3s ease; */
}

.button-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

@media(max-width: 1200px) {
    .form-row {
      flex-direction: column;
      align-items: flex-start;
    }
    .textarea-widget {
        margin-left: 0;
        width: 100%;
    }
    .label-widget[readonly] {
        width: 100%;
    }
    .input-widget {
        width: 100%;
    }
    .button-wrapper {
        flex-direction: column;
    }
    .button {
        margin-bottom: 3%;
    }
  }
  