@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url('../images/luna-noch-ozera-pejzazh-priroda-50020.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  width: 70%;
}

.nav-header {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  height: 50px;
}

.navbar a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
}

.navbar a:hover {
  background-color: #1d51c3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(40, 103, 135, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.content {
  margin-left: 5%;
  width: 100%;
  margin-top: 150px;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.menu-button {
  display: none;
  margin-left: auto;
}

@media(max-width: 1200px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.choosen-link {
  background: rgba(65, 172, 234, 0.5);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #093351;
}

/* Стили для ползунка (бегунка) прокрутки */
body::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов ползунка */
  /* border: 2px solid #ffffff; Обводка ползунка */
  border: 0; /* Обводка ползунка */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); /* Тень ползунка */
}

/* Стили для трека (фона) прокрутки при наведении */
body::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Новый цвет ползунка при наведении */
}