@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url('../images/luna-noch-ozera-pejzazh-priroda-50020.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: rgba(8, 35, 55, 1.0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  width: 70%;
}

.nav-header {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  height: 50px;
}

.navbar a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
}

.navbar a:hover {
  background-color: #1d51c3;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(40, 103, 135, 1.0);
  /* backdrop-filter: blur(10px); */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  width: 90%;
  margin-top: 150px;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

.menu-button {
  display: none;
  margin-left: auto;
}

.label-widget {
  display: inline-block;
  width: 80%;
  height: fit-content;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  margin-left: auto;
  background: transparent;
  color: #d6d8ef;
  max-height: none;
}

@media(max-width: 1200px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
}

.choosen-link {
  background: rgba(29, 74, 100, 0.8);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #093351;
}

/* Стили для ползунка (бегунка) прокрутки */
body::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов ползунка */
  /* border: 2px solid #ffffff; Обводка ползунка */
  border: 0; /* Обводка ползунка */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); /* Тень ползунка */
}

/* Стили для трека (фона) прокрутки при наведении */
body::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Новый цвет ползунка при наведении */
}

.house-card {
  margin: 30px 30px 30px 0px;
  width: 100%;
  background-color: rgb(9, 46, 70);
  padding: 20px;
  border-radius: 10px;
  border: 10px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.house-btn {
  margin: 10px 0;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 8px;
}

/* border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease; */

.house-card img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

.image-buttons {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.image-buttons-buttons {
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card-content-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.question-card {
  margin: 30px 0 30px 0px;
  width: 100%;
  background-color: rgb(9, 46, 70);
  padding: 20px;
  border-radius: 10px;
  border: 10px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.question-card-row {
  width: 100%;
}

.question-card-row label {
  font-weight: 700;
}

.question-card-btns {
  padding: 17px 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.question-btn {
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  max-width: 100%;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 8px;
  margin-bottom: 3%;
}

@media(max-width: 550px) {
  .image-buttons {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 0;
    width: 100%;
  }
  .house-card {
    flex-direction: column;
    padding: 10px;
  }
  .card-content {
    margin-left: 0;
  }
  .house-btn {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .house-card img {
    margin-bottom: 0;
  }
  .question-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .question-card-row {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }
  .question-card-btns {
    flex-direction: column;
  }
}

/* Общие стили для select */
.select-widget {
  width: 80%;
  margin-left: auto;

  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #d6d8ef;
  cursor: pointer;
  outline: none;
}

/* Стили при наведении на select */
.select-widget:hover {
  border-color: #666;
}

/* Стили при фокусе на select */
.select-widget:focus {
  border-color: #4285f4;
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
}

/* Стили для стрелочки в select */
.select-widget::-ms-expand {
  display: none;
}

/* Стили для опций внутри select */
.select-widget option {
  background-color: #fff;
  color: #333;
}

/* Стили для опций при наведении */
.select-widget option:hover {
  background-color: #e0e0e0;
}

@media(max-width: 1200px) {
  .select-widget {
    width: 100%;
  }
}

.media-form-row  {
  display: flex;
  margin-bottom: 20px;
  width: fit-content;
  flex-direction: column;
}

.media-form-row  a {
  color: #3498db; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  transition: color 0.3s ease; /* Плавное изменение цвета текста при наведении */
  font-weight: bold; /* Жирный шрифт */
}

/* Стиль при наведении курсора */
.media-form-row  a:hover {
  color: #166ea8; /* Цвет текста при наведении */
}

/* Стиль для посещенных ссылок */
.media-form-row  a:visited {
  color: #3c34af; /* Цвет текста для посещенных ссылок */
}

.file-input-widget {
  display: none;
}

.label-for-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.add-media-button {
  width: fit-content;
  margin: 3% 0;
  margin-top: -20px;
  padding: 4px 8px;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
}
