<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Bot management</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'bot/css/style.css' %}">
    {% block head_addition %} {% endblock %}
    <!-- Add additional CSS in static file -->
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" /> -->
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Logo</a>

      <nav class="navbar">
        <ul class="sidebar">
          <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
          <li><a href="{% url 'bot:prompts-update' %}">Prompts</a></li>
          <li><a href="{% url 'bot:newsletter' %}">Newsletter</a></li>
          <li><a href="{% url 'bot:houses' %}">Houses</a></li>
          <li><a href="{% url 'bot:questions' %}">Questions</a></li>
          <!-- <li><a href="{% url 'bot:photos' %}">Photos</a></li>
          <li><a href="{% url 'bot:videos' %}">Videos</a></li> -->
          <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
        </ul>
        <ul class="nav-header">
          {% url 'bot:index' as index_path %}
          <li class="hideOnMobile {% if request.path == index_path %}choosen-link{% endif %}" ><a href="{% url 'bot:index' %}">Home</a></li>
          {% url 'bot:prompts-update' as prompts_path %}
          <li class="hideOnMobile {% if request.path == prompts_path %}choosen-link{% endif %}"><a href="{% url 'bot:prompts-update' %}">Prompts</a></li>
          {% url 'bot:newsletter' as newletter_path %}
          <li class="hideOnMobile {% if request.path == newletter_path %}choosen-link{% endif %}"><a href="{% url 'bot:newsletter' %}">Newsletter</a></li>
          {% url 'bot:houses' as houses_path %}
          <li class="hideOnMobile {% if request.path == houses_path %}choosen-link{% endif %}"><a href="{% url 'bot:houses' %}">Houses</a></li>
          {% url 'bot:questions' as questions_path %}
          <li class="hideOnMobile {% if request.path == questions_path %}choosen-link{% endif %}"><a href="{% url 'bot:questions' %}">Questions</a></li>
          <!-- {% url 'bot:photos' as photos_path %}
          <li class="hideOnMobile {% if request.path == photos_path %}choosen-link{% endif %}"><a href="{% url 'bot:photos' %}">Photos</a></li>
          {% url 'bot:videos' as videos_path %}
          <li class="hideOnMobile {% if request.path == videos_path %}choosen-link{% endif %}"><a href="{% url 'bot:videos' %}">Videos</a></li> -->
          <li class="hideOnMobile"><a href="{% url 'logout' %}" class="btn">Logout</a></li>
          <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="{% static 'bot/js/main.js' %}"></script>
  </body>
</html>
