<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Bot management</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'bot/css/style.css' %}">
    {% block head_addition %} {% endblock %}
    <!-- Add additional CSS in static file -->
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" /> -->
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Logo</a>

      <nav class="navbar">
        <a href="{% url 'bot:index' %}">Home</a>
        <a href="{% url 'bot:prompts-update' %}">Prompts</a>
        <a href="{% url 'bot:newsletter' %}">Newsletter</a>
        <a href="{% url 'bot:houses' %}">Houses</a>
        <a href="{% url 'bot:questions' %}">Questions</a>
        <a href="{% url 'bot:photos' %}">Photos</a>
        <a href="{% url 'bot:videos' %}">Videos</a>
      </nav>
      <a class="btn" href="{% url 'logout' %}">Logout</a>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
