{% extends "bot/sidebar.html" %}
{% block header %}
  <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <!-- <li><a href="{% url 'bot:index' %}" class="nav-link px-2 link-secondary">Home</a></li> -->
          {% url 'bot:index' as home_url %}
          {% url 'bot:prompts-update' as prompts_url %}
          {% url 'bot:newsletter' as newsletter_url %}
          <li><a href="{% url 'bot:index' %}"
            {% if request.path == home_url %} class="nav-link px-2 link-secondary"
            {% else %} class="nav-link px-2"
            {% endif %}>Home</a></li>
          <li><a href="{% url 'bot:prompts-update' %}"
            {% if request.path == prompts_url %} class="nav-link px-2 link-secondary"
            {% else %} class="nav-link px-2"
            {% endif %}>Prompts</a></li>
          <li><a href="{% url 'bot:newsletter' %}"
            {% if request.path == newsletter_url %} class="nav-link px-2 link-secondary"
            {% else %} class="nav-link px-2"
            {% endif %}>Newsletter</a></li>
          <li><a href="#"
            {% if request.path == about_url %}class="nav-link px-2 link-secondary"
            {% else %} class="nav-link px-2"
            {% endif %}>About</a></li>
        </ul>

        <div class="col-md-3 text-end">
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary me-2">Logout</button></a>
        </div>
      </header>
    </div>
{% endblock %}

{% block head_addition %}
    {% load static %}
    <link rel="stylesheet" href="{% static bot/css/style.css %}">
{%endblock %}

{% block header %}
    <header class="header">
      <a href="#" class="logo">Logo</a>

      <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Prompts</a>
        <a href="#">Newsletter</a>
        <a href="#">Houses</a>
        <a href="#">Questions</a>
        <a href="#">Photos</a>
        <a href="#">Videos</a>
      </nav>
    </header>
{% endblock %}