{% extends "bot/base_generic.html" %}

{% load i18n %}

{% block head_addition %}
{% load static %}
<link rel="stylesheet" href="{% static 'bot/css/style.css' %}">
<link rel="stylesheet" href="{% static 'bot/css/house_detail.css' %}">
<link rel="stylesheet" href="{% static 'bot/css/prompts.css' %}">
{% endblock %}

{% block content %}
<div class="house-card">
    <div class="form-row">
        <h3>{% blocktranslate %}Delete House: {{ house }} {% endblocktranslate %}</h3>
    </div>
    <div class="form-row">
        <p>{% translate "Are you sure you want to delete this house?" %}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" formaction="" value="{% translate 'Yes, delete.' %}" class="button">
        <a href="{{house.get_absolute_url}}" class="button">{% translate "Cancel" %}</a>
    </form>
</div>
{% endblock %}