{% extends "bot/base_generic.html" %}

{% block content %}
<h1>Your Videos</h1>
{% if video_list %}
<ul>
    {% for video in video_list %}
    <li>
        <a href="{{ video.video.url }}">{{ video.video }}</a>
        <video width="640" height="360" controls>
            <source src="{{ video.video.url }}" type="video/mp4">
            Your browser doesn't support video tag.
        </video>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no added photos.</p>
{% endif %}
{% endblock %}